:root {
    --font-family-sans-serif: 'Montserrat', sans-serif;
    --primary: 33,150,243;
    --dark: 0,0,0;
}

html {
    position: relative;
    min-height: 100%;
}

#page {
    position: relative;
    z-index: 1;
}

.container-fluid {
    max-width: 90%;
}

.font-weight-600 {
    font-weight: 600 !important;
}

/* Button hamburger mobile
------------------------------------------------------------------------------*/
button.button-hamburger-menu {
    padding: 0;
    border: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
}

button.button-hamburger-menu .hamburger-menu,
button.button-hamburger-menu .hamburger-menu:after,
button.button-hamburger-menu .hamburger-menu:before {
    width: 30px;
    height: 3px;
}

button.button-hamburger-menu .hamburger-menu {
    position: relative;
    background-color: rgba(var(--light));
    transition: all 0ms 300ms;
    margin-right: auto;
    margin-left: auto;
}
button.button-hamburger-menu .hamburger-menu.animate {
    background-color: rgba(255, 255, 255, 0);
}

button.button-hamburger-menu .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: rgba(var(--light));
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button.button-hamburger-menu .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background-color: rgba(var(--light));
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button.button-hamburger-menu .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button.button-hamburger-menu .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Footers
------------------------------------------------------------------------------*/
footer.main-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 100px;
}

footer.main-footer section.copyright {
    padding: 20px 0;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 14px;
}

footer.main-footer a.btn.btn-link {
    font-size: 1.3rem;
    color: rgba(var(--dark));
    padding: 0;
}

/* Form access (Login - Register)
------------------------------------------------------------------------------*/
.form-access {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
}

.form-access header {
    text-align: center;
    padding: 20px 30px;
}

.form-access header .icon-user {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    border-radius: 50%;
    font-size: 3em;
    background-color: rgba(var(--primary));
    color: #FFF;
}

.form-access header .title-page {
    margin: 0;
    color: rgba(var(--dark));
}

.form-access main {
    padding: 0 30px;
}

.form-access footer {
    padding: 20px 30px;
}

.form-access footer a.btn.btn-link {
    font-size: 12px;
    color: rgba(var(--muted));
}

/* Gradients
------------------------------------------------------------------------------*/
.gradient-primary-gray {
    background: #FFF;
    background: -moz-linear-gradient(top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
    background: -webkit-linear-gradient(top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
    background: linear-gradient(to top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
}

/*
------------------------------------------------------------------------------*/
header.topbar {
    background-color: #000;
    padding: 10px 0;
}

header.topbar #logotype {
    position: relative;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header.topbar nav {
    width: calc(50% - 100px);
    height: 50px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.topbar nav:first-child {
    align-items: flex-start;
}

header.topbar nav:last-child {
    align-items: flex-end;
}

header.topbar nav .btn.btn-link {
    padding-left: 10px;
    padding-right: 10px;
}

header.topbar nav .dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 999;
    padding: 30px 0px;
}

header.topbar nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

/* Titles
------------------------------------------------------------------------------*/
.text__h {
    font-size: 2.667rem;
    font-weight: 300;
    line-height: 1em;
    color: rgba(var(--secondary));
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text__h strong {
    font-weight: bold;
}

.text__h.text-light {
    color: #fff;
}

.text__t {
    font-weight: 400;
    font-size: 1.133rem;
    line-height: 1.6rem;
    color: rgba(var(--text));
}

.text__t.text__intro {
    font-size: 1.367rem;
    line-height: 2.133rem;
}

/*
------------------------------------------------------------------------------*/
section.home-cover {
    position: relative;
}

section.home-cover .item {
    width: 100%;
    min-height: 600px;
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.home-cover .item .title {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(var(--light));
    font-weight: 700;
}

section.home-cover .item .text {
    font-size: 2.5rem;
    color: rgba(var(--light));
    /* padding-left: 15%; */
    padding-left: 2%;
}

/*
------------------------------------------------------------------------------*/
.thumb-property {
    position: relative;
    z-index: 0;
    height: 600px;
    padding: 50px;
    z-index: 0;
}

.thumb-property > figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.thumb-property::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: -1;
}

/*
------------------------------------------------------------------------------*/
section.call-to-action {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

section.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}

section.call-to-action .container {
    position: relative;
    z-index: 2;
}

/*
------------------------------------------------------------------------------*/
.suscribe {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.suscribe h1 {
    position: relative;
    color: rgba(var(--light));
    text-align: center;
    font-size: 5rem;
}

.suscribe h6 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(var(--light));
    margin-bottom: 30px;
}

.suscribe form input {
    height: 50px;
    padding: 10px 15px;
    width: 400px;
    border: none;
}

.suscribe form button {
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
}

.suscribe form {
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

/* Page header
------------------------------------------------------------------------------*/
section.page-header {
    position: relative;
    width: 100%;
    min-height: 400px;
}

section.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.3+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}

section.page-header > figure {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0;
    z-index: -2;
}

section.page-header h1 {
    font-weight: 600;
}

section.page-header h1 > small {
    font-weight: 100;
    display: block;
    letter-spacing: 12px;
    font-size: 60%;
}

section.page-header h4 {
    text-align: center;
    color: rgba(var(--light));
}

/* Page header
------------------------------------------------------------------------------*/
.grid-gray {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.grid-gray > div {
    padding: 20px;
    background-color: rgba(var(--gray), 0.2);
    display: -webkit-box;
    display: flex;
    flex-direction: column;
}

.grid-gray > div h2 {
    font-weight: bold;
}

.grid-gray > div h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.grid-gray > div p {
    margin: 0;
}

@media (max-width: 990px) {
    .grid-gray {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .grid-gray {
        grid-template-columns: repeat(2, 1fr);
    }
}

.page-cover {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 100px 50px;
}

.page-cover > figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.gallery-carousel {
    position: relative;
}

.gallery-carousel .owl-controls button {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #FFF;
    z-index: 1;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    height: min-content;
    line-height: 1rem;
    padding: 0;
    margin: auto;
    cursor: pointer;
}

.gallery-carousel .owl-controls button.prev {
    left: 20px;
}

.gallery-carousel .owl-controls button.next {
    right: 20px;
}

.status-bars .item .bar {
    width: 100%;
    height: 4px;
    background-color: #F1F1F1;
}

.status-bars .item .bar > div {
    height: 4px;
    background-color: #000;
}

figure.neo-blog {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

figure.neo-blog > img {
    width: 100%;
    height: auto;
}
